.header-tit{
    height: 44px;
    line-height: 44px;
    color: #e95504;
    border-bottom: 1px solid #e95504;
    font-size: 18px;
    position: relative;
    background-color: #fff;
}
.goBack{
    position: absolute;
    left: 8px;
}
.goBack i{
    display: inline-block;
    width: 14px;
    height: 24px;
    background: url("../images/goBack.png") no-repeat;
    background-size: 14px 24px;
    vertical-align: middle;
    margin-right: 5px;
}
.ad{
    position: relative;
    width: 100%;
    height: 184px;
    margin-bottom: 10px;
    overflow: hidden;
}
#ad-swipe{
    position: relative;
    overflow: hidden;
}
.ad ul{
    position: relative;
    overflow: hidden;
}
#ad-swipe li{
    float: left;
}
img{
    width: 100%;
    height: 100%;
}
.arrowList{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}
.arrowList li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.arrowList .arrow{
    background: #056442;
}
.arrowList .sel-arrow{
    width: 8px; height: 8px;
    border: 1px solid #056442;
}
.tools{
    position: relative;
    background: #eff3f4;
    padding-bottom: 20px;
}
.tools-tab{
    background: #ffffff;
    border-top: 1px solid #cecfcf;
    border-bottom: 1px solid #cecfcf;
}
.tools-tab ul:first-child{ border-bottom: 1px solid #eaeaea;}
.tools-tab ul li:nth-child(2){
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
.square{
    width: 33%;
    height: 90px;
    float: left;
    text-align: center;
    font-size: 15px;
}
.tool-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 12px 0;
    background: url("../images/tools-icon.png") no-repeat;
    background-size: 40px 480px;
}
.tool-icon1{ background-position: center 0;}
.tool-icon2{ background-position: center -40px;}
.tool-icon3{ background-position: center -80px;}
.tool-icon4{ background-position: center -120px;}
.tool-icon5{ background-position: center -160px;}
.tool-icon6{ background-position: center -200px;}
.tool-icon7{ background-position: center -240px;}
.tool-icon8{ background-position: center -280px;}
.tool-icon9{ background-position: center -320px;}
.tool-icon10{ background-position: center -360px;}
.tool-icon11{ background-position: center -400px;}
.tool-icon12{ background-position: center -440px;}
.product{
    background: #fff;
    margin: 0 12px 15px 12px;
}
.product-tit{
    border-bottom: 1px solid #e95504;
}
.product-cont{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 15px;
}
.product-cont2{
    padding: 0 10px;
}
.pro-arrow{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/arrow.png") no-repeat;
    background-size: 16px 64px;
    vertical-align: middle;
    margin-right: 15px;
}
.pro-arrow1{ background-position: center 0px;}
.pro-arrow2{ background-position: center -16px;}
.pro-arrow3{ background-position: center -32px;}
.pro-arrow4{ background-position: center -48px;}
.product-center{
    float: left;
    margin-left: 9%;
}
.all-product{
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    margin-bottom: 15px;
}
.subTitle{
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #dcdcdc;
    background: -webkit-linear-gradient(top,#f5f5f5,#dedede);
    padding-left: 16px;
    padding-right: 30px;
    font-size: 18px;
}
/**咨询信息Tab**/
.consult-Tab{ background: #ffffff;}
.consult-Tab li{
    display: block;
    padding: 20px 0 14px 0;
    width: 25%;
    text-align: center;
}
.tabControl{
    color: #333;
    border-bottom: 1px solid #dcdcdc;
}
.tabControl-on{
    color: #ff6600;
    border-bottom: 1px solid #ff6600;
}
.consult-cont{
    background: #ffffff;
}
.contentList1 li:before{
    content: " ";
    margin-left: -7px;
    width: 8px;
    height: 8px;
    display: inline-block;
    background: url("../images/disc.png") no-repeat;
    background-size: 4px 4px;
}
.contentList1 li{
    padding: 13px 14px 13px 19px;
    border-bottom: 1px solid #dcdcdc;
    text-align: justify;
    /*list-style: disc inside;*/
}
.contentList1 a{
    color: #333;
    text-decoration: none;
}
/** end 咨询信息Tab**/
.consult,.contact{
    margin-bottom: 15px;
}
.contact-cont{
    background: #fff;
    padding: 14px 20px;
    border-bottom: 1px solid #dcdcdc;
}
.contact-cont p{
    width: 146px;
}
.callUp{
    width: 100px;
    height: 47px;
    text-align: center;
    border-radius: 4px;
    background: -webkit-linear-gradient(top,#ff6600,#eb5300);
    margin-right: 25px;
    color: #fff;
    padding-top: 15px;
}
/**footer**/
footer{
    background: #dcdcdc;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-copy{
    color: #aeaeae;
    text-align: center;
    padding-top: 16px;
}
.copyright{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
}
/***loading**/
.loading{
    height: 24px;
    line-height: 24px;
}
.loading-i{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../images/ajax-loader.gif") no-repeat;
    background-size: 13px 13px;
    vertical-align: middle;
    margin-right: 10px;
}
/** end loading **/
/********public********/
.clear{clear:both;}
.c::after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden;}
.c{zoom:1;}
.dn{ display: none;}
.vh{ visibility: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.txt_c{ text-align: center;}
.fs12{ font-size: 12px;}
.fs14{ font-size: 14px;}
.fs15{ font-size: 15px;}
.fs16{ font-size: 16px;}
.cl-666{ color: #666;}
.cl-333{ color: #333;}
.cl-9c0c0c{ color: #9c0c0c;}
.m-b12{ margin-bottom: 12px;}
.m-r5{ margin-right: 5px;}